* {
   font-family: "Roboto", sans-serif;
 }

#follow-products {
   padding: 100px 300px 100px 300px;
   background-color: rgba(30, 40, 50, 0.05);
   display: grid;
   justify-content: center;
   text-align: center;
}